= semantic_form_for @presentation do |f|
  = f.inputs do
    = f.input :title
    = f.input :about
    = f.input :goal
    = f.input :video, label: "URL"
    = f.input :category_id, as: :select, :collection => Hash[Category.all.map{|c| [c.name, c.id]}]

  = f.actions do
    = f.action :submit, as: :button
    = f.action :cancel, as: :link