- if @results
  %div.cards
  - @results.each do |result|
    = link_to result do
      %div.card
        %div.card-image
          %img{src: "http://img.youtube.com/vi/i_2Hh-UGm8I/0.jpg", alt: "No thumbnail found"}
        %div.card-header
          #{result.title} | #{link_to result.user.username, profile_path(result.user)} |
        %div.card-copy
          %p= truncate(result.about.html_safe, length: 150)
          -if !@category
            %span.category-btn #{link_to result.category.name, controller: "presentations", action: "category", category_id: result.category.id}
          -if @user && @user == current_user
            %span= link_to 'View Feedback', presentation_feedbacks_path(result)

- else
  = render 'layouts/card'
