%p Title: #{@presentation.title}
%p About: #{@presentation.about}
%p Goal: #{@presentation.goal}
%p Username: #{@presentation.user.username}
%p Category: #{@presentation.category.name}
%p URL: #{@presentation.video}